<div id="content">

<% @elements.each_with_index do |e,i| %>
   <% if i < 20 %>
      <div class='hidden element <%= e.kind %> <%= e.family %> <%= e.block %>' id='<%= e.symbol %>' style='top: <%= ((i/10)+1)*18.095 %>%; left:<%= ((i%10)+5)*4.593 %>%' data-symbol='<%= e.symbol%>' data-title='<%= e.name %>' data-Z='<%= e.Z %>'><div class='symbol'><%= e.symbol%></div><div class='name'><%= e.name %></div><div class='Z'><%= e.Z %></div><div class='distribution'><%= e.distribution %></div><div class='detailed_distribution'><%= raw(e.detailed_distribution) %></div></div>
      <% elsif i < 30 %>
	  <div class='hidden element <%= e.kind %> <%= e.family %> <%= e.block %>' id='<%= e.symbol %>' style='top: 80%; left:<%= ((i%10))*4.593+0.5 %>%' data-symbol='<%= e.symbol%>' data-title='<%= e.name %>' data-Z='<%= e.Z %>'><div class='symbol'><%= e.symbol%></div><div class='name'><%= e.name %></div><div class='Z'><%= e.Z %></div><div class='distribution'><%= e.distribution %></div><div class='detailed_distribution'><%= raw(e.detailed_distribution) %></div></div>
	 <% else %>
	 <div class='hidden element <%= e.kind %> <%= e.family %> <%= e.block %>' id='<%= e.symbol %>' style='top: 80%; left:<%= ((i%10))*4.593+10.5*4.593 %>%' data-symbol='<%= e.symbol%>' data-title='<%= e.name %>' data-Z='<%= e.Z %>'><div class='symbol'><%= e.symbol%></div><div class='name'><%= e.name %></div><div class='Z'><%= e.Z %></div><div class='distribution'><%= e.distribution %></div><div class='detailed_distribution'><%= raw(e.detailed_distribution) %></div></div>
	 <% end %>

   	   
<% end %>
  
</div>

<div id="sidebar">
  <%= label_tag(:Elementos) %>
  <%= select_tag(:element, options_for_select(["H-Ca","Sc-Zn","Ga-Kr"]), id:"element_group", style:"width:80px") %>
  <div class="btn-group">
  <%= button_tag(:adicionar, id:"add_element_button", class:"btn btn-primary btn-small") %>
  <%= button_tag(:remover, id:"remove_element_button", class:"btn btn-primary btn-small") %>
  </div>

  <%= label_tag(:selecionar) %>
  <%= select_tag(:colour, options_for_select(["","Metais/Não metais","Metais/Não metais (detalhe)","Metais alcalinos","Metais alcalino-terrosos","Gases nobres","Halogéneos","Famílias","Bloco s", "Bloco p", "Bloco d", "Blocos"]), style:"width:190px") %>
  
  <label>Distribuição eletrónica</label>
  <%= select_tag(:distribution, options_for_select(["","Níveis","Blocos(concisa)"]), id:"distribution_selection", style:"width:140px") %>
  
  <%= label_tag(:Tabelas, "Formas da tabela",id:"tableLabel") %>
   <div class="form-inline">
  <%= select_tag(:table_selection, options_for_select([["",0],["Tabela standard",1],["Tabela estendida",2],["Tabela Mendeleev",4],["Tabela Benfey",3],["Tabela Janet",5],["Tabela Stowe",6]]), style:"width:150px") %>
<a id="table_link" href="#" class="btn btn-primary btn-small btn-custom disabled">ok</a>



<a href="assets/extended.png" id="extended_link" rel="tables" class="fancytables">extended</a>
<a href="assets/mendeleev.png" id="mendeleev_link" rel="tables" class="fancytables">mendeleev</a>
<a href="assets/other.png" id="benfey_link" rel="tables" class="fancytables">benfey</a>
<a href="assets/adomah.png" id="adomah_link" rel="tables" class="fancytables">adomah</a>
<a href="assets/stowe.png" id="stowe_link" rel="tables" class="fancytables">stowe</a>
<a href="assets/periodic_table.png" id="periodic_link" rel="tables" class="fancytables">periodic table</a>
   </div>

   <%= label_tag(:Reações) %>
  <div class="form-inline">
  <%= select_tag(:video_selection, options_for_select([["",0],["Reação Lítio+Água",1],["Reação Sódio+Água",2],["Reação Potássio+Água",3],["Reação Magnésio+Água",4],["Reação Cálcio+Água",5],["Reação Cloro+Cobre",6],["Reação Bromo+Alumínio",7]]), style:"width:150px") %>
<a id="video" href="#" class="btn btn-primary btn-small btn-custom disabled">ok</a>
   </div>
</div>


