<div id="content">

<% @elements.each_with_index do |e,i| %>
   <div class='element <%= e.kind %> <%= e.family %>' id='<%= e.symbol %>' style='top: <%= ((i/10)+1)*21 %>%; left:<%= ((i%10)+2)*6 %>%'><div class='symbol'><%= e.symbol%></div><div class='name'><%= e.name %></div><div class='Z'><%= e.Z %></div><div class='distribution'><%= e.distribution %></div></div>


   	   
<% end %>
  
</div>

<div id="sidebar">
  <%= select_tag(:element, options_for_select(["H-Ca","Mendeleev"])) %>
  <%= button_tag(:adicionar, id:"add_element_button") %>


  <%= select_tag(:colour, options_for_select(["Normal","Metais/Não metais","Famílias","Metais alcalinos","Metais alcalino-terrosos","Halogéneos","Gases nobres"])) %>
  

  <label>Distribuição eletrónica</label>
  <%= check_box_tag(:distribution) %>
</div>


